<li>
  <div><%= project.name %></div>
  <div><%= project.description %></div>
  <div><%= link_to 'Edit Project', edit_project_path(id: project.id) %></div>
  <div><%= link_to 'Delete Project', project_path(id: project.id), method: :delete %></div>

  <% #todo - extract these display possibilities into their own partials   %>
  <% if project.material_list %>

      <div>Materials needed</div>

      <table>
        <tr>
          <th>Type</th>
          <th>Quantity</th>
        </tr>


        <% project.material_list.material_needs.each do |need| %>
            <tr>
              <td><%= need.name %></td>
              <% #todo - add material units to these amounts   %>
              <td><%= need.quantity %></td>
              <td><%= link_to 'Edit', edit_material_need_path(id: need.id) %></td>
              <td><%= link_to 'Remove', material_need_path(id: need.id), method: :delete %></td>
            </tr>
      <% end %>

      </table>

      <%= link_to 'Add needed material', new_material_need_path(project_id: project.id) %>

  <% else %>

      <%= link_to 'Add Materials To Project', new_material_list_path(project_id: project.id) %>

  <% end %>

  <% unless project.assignments.empty? %>

      <div>Assigned employees</div>

      <table>
        <tr>
          <th>Name</th>
        </tr>


        <% project.users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= link_to 'Remove', assignment_path(id: Assignment.find_by(project_id: project.id, user_id: user.id).id), method: :delete %></td>
            </tr>
        <% end %>

      </table>

  <% end %>

  <div><%= link_to 'Assign Employees To Project', new_assignment_path(project_id: project.id) %></div>

</li>
